.whatWeDoChild {
  position: absolute;
  top: 122px;
  left: 0;
  width: 1280px;
  height: 790px;
  object-fit: cover;
}
.frameChild {
  width: 18px;
  height: 55px;
}
.frameChild,
.rcc {
  position: relative;
}
.home,
.vectorParent {
  position: absolute;
  color: var(--black);
}
.vectorParent {
  top: 41px;
  left: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-21xl);
}
.home {
  top: 58.5px;
  left: 500.3px;
  font-size: var(--font-size-base);
  font-weight: 600;
  cursor: pointer;
}
.whatWeDoItem {
  position: absolute;
  top: 79.8px;
  left: 706px;
  width: 101px;
  height: 6px;
}
.whoWeAre {
  left: 580.5px;
  color: var(--black);
  cursor: pointer;
}
.giving,
.media,
.resources,
.whatWeDo1,
.whoWeAre {
  position: absolute;
  top: 58.5px;
  font-size: var(--font-size-base);
  font-weight: 600;
}
.whatWeDo1 {
  left: 706.5px;
  color: var(--color-darkslateblue);
}
.giving,
.media,
.resources {
  color: var(--black);
}
.giving {
  left: 833.5px;
  cursor: pointer;
}
.media,
.resources {
  left: 916.5px;
}
.resources {
  left: 997.5px;
}
.whatWeDoInner {
  position: absolute;
  top: 1655px;
  left: 0;
  background-color: var(--black);
  width: 1280px;
  height: 371px;
}
.rcc1 {
  position: absolute;
  top: 1677px;
  left: 45px;
  font-size: var(--font-size-21xl);
}
.contacts,
.navigations,
.serviceTimes,
.socials {
  position: absolute;
  top: 1677px;
  left: 241px;
  font-weight: 800;
}
.navigations,
.serviceTimes,
.socials {
  left: 616px;
}
.serviceTimes,
.socials {
  left: 851px;
}
.serviceTimes {
  top: 1798px;
}
.image29Icon,
.image30Icon,
.image31Icon,
.image32Icon,
.image33Icon,
.image34Icon {
  position: absolute;
  top: 1719px;
  left: 849px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.image30Icon,
.image31Icon,
.image32Icon,
.image33Icon,
.image34Icon {
  left: 883px;
}
.image31Icon,
.image32Icon,
.image33Icon,
.image34Icon {
  left: 917px;
}
.image32Icon,
.image33Icon,
.image34Icon {
  left: 951px;
}
.image33Icon,
.image34Icon {
  left: 985px;
}
.image34Icon {
  left: 1019px;
}
.image35Icon,
.image36Icon,
.image37Icon,
.image38Icon,
.image39Icon,
.image40Icon {
  position: absolute;
  top: 1719px;
  left: 1053px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.image36Icon,
.image37Icon,
.image38Icon,
.image39Icon,
.image40Icon {
  left: 1087px;
}
.image37Icon,
.image38Icon,
.image39Icon,
.image40Icon {
  left: 1121px;
}
.image38Icon,
.image39Icon,
.image40Icon {
  left: 1155px;
}
.image39Icon,
.image40Icon {
  left: 1189px;
}
.image40Icon {
  left: 1223px;
}
.rectangleIcon {
  position: absolute;
  top: 1678px;
  left: 27px;
  width: 18px;
  height: 55px;
}
.home1,
.phone234803,
.sunday10Am,
.thursday530Pm,
.tuesday530Pm,
.whatWeDo2,
.whoWeAre1 {
  position: absolute;
  top: 1722px;
  left: 233px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 258px;
}
.home1,
.sunday10Am,
.thursday530Pm,
.tuesday530Pm,
.whatWeDo2,
.whoWeAre1 {
  left: 616px;
  width: 63px;
}
.sunday10Am,
.thursday530Pm,
.tuesday530Pm,
.whatWeDo2,
.whoWeAre1 {
  top: 1762px;
  width: 121px;
}
.sunday10Am,
.thursday530Pm,
.tuesday530Pm,
.whatWeDo2 {
  top: 1843px;
  left: 846px;
  width: 150px;
}
.thursday530Pm,
.tuesday530Pm,
.whatWeDo2 {
  top: 1883px;
  width: 185px;
}
.thursday530Pm,
.whatWeDo2 {
  top: 1923px;
  left: 841px;
  width: 207px;
}
.whatWeDo2 {
  top: 1802px;
  left: 615px;
  width: 128px;
}
.giving1,
.media1 {
  text-align: center;
  width: 69px;
}
.giving1 {
  position: absolute;
  top: 1842px;
  left: 616px;
  font-weight: 600;
  display: inline-block;
}
.media1 {
  top: 1882px;
  left: 614px;
}
.emailRestoreministriesgmail,
.media1,
.resource {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.resource {
  top: 1922px;
  left: 617px;
  text-align: center;
  width: 95px;
}
.emailRestoreministriesgmail {
  top: 1762px;
  left: 240px;
  width: 308px;
}
.address {
  margin: 0;
}
.address13McContainer {
  position: absolute;
  top: 1832px;
  left: 240px;
  font-weight: 600;
  display: inline-block;
  width: 308px;
}
.getAReminder {
  position: relative;
  font-weight: 600;
}
.btn {
  position: absolute;
  top: 775px;
  left: 588px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-22xl);
  font-size: var(--font-size-6xl);
}
.live {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--white);
  text-align: left;
}
.liveWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-9xl);
  background-color: var(--color-darkslateblue);
  position: absolute;
  top: 52px;
  left: 1113px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.whatWeDo3 {
  position: absolute;
  top: 174px;
  left: 569px;
  font-size: var(--font-size-31xl);
  line-height: 100px;
}
.restoreChurchOfContainer {
  position: absolute;
  top: 283px;
  left: 211px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 979px;
}
.godHasBeenContainer,
.pictures {
  position: absolute;
  color: var(--black);
}
.pictures {
  top: 911px;
  left: 57px;
  font-size: var(--font-size-31xl);
  line-height: 100px;
}
.godHasBeenContainer {
  top: 1227px;
  left: 437px;
  font-size: 80px;
  line-height: 60px;
  font-family: var(--font-praise);
  text-align: center;
}
.whatWeDoChild1,
.whatWeDoChild2,
.whatWeDoChild3 {
  position: absolute;
  top: 1039px;
  left: 116px;
  border-radius: var(--br-lg);
  width: 235px;
  height: 151px;
  object-fit: cover;
}
.whatWeDoChild2,
.whatWeDoChild3 {
  left: 384px;
}
.whatWeDoChild3 {
  left: 652px;
}
.whatWeDoChild10,
.whatWeDoChild4,
.whatWeDoChild5,
.whatWeDoChild6,
.whatWeDoChild7,
.whatWeDoChild8,
.whatWeDoChild9 {
  position: absolute;
  top: 1039px;
  left: 920px;
  border-radius: var(--br-lg);
  width: 235px;
  height: 151px;
  object-fit: cover;
}
.whatWeDoChild10,
.whatWeDoChild5,
.whatWeDoChild6,
.whatWeDoChild7,
.whatWeDoChild8,
.whatWeDoChild9 {
  top: 1205px;
}
.whatWeDoChild10,
.whatWeDoChild6,
.whatWeDoChild7,
.whatWeDoChild8,
.whatWeDoChild9 {
  top: 1371px;
}
.whatWeDoChild10,
.whatWeDoChild7,
.whatWeDoChild8,
.whatWeDoChild9 {
  top: 1369px;
  left: 652px;
}
.whatWeDoChild10,
.whatWeDoChild8,
.whatWeDoChild9 {
  top: 1367px;
  left: 384px;
}
.whatWeDoChild10,
.whatWeDoChild9 {
  top: 1365px;
  left: 116px;
}
.whatWeDoChild10 {
  top: 1205px;
}
.whatWeDo {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 2022px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--font-poppins);
}
